/*Page de commande*/

.formulaire_commande{
	background-color: #111111;
	width: 50%;
	height: 500px;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 25px;
}

.formulaire_commande_titre{
	width: 100%;
	margin: 0%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 0%;
	padding-right: 0%;
	color : #FFFFFF;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

#formulaire_commande_form1{
	width: 50%;
	position:absolute;
	visibility: visible;
}

#formulaire_commande_form2{
	width: 50%;
	position:absolute;
	visibility: hidden;

}

#formulaire_commande_form3{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form4{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form5{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form6{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form7{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form8{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form9{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

#formulaire_commande_form10{
	width: 50%;
	position:absolute;
	visibility: hidden;
}

.bouton_commande{
	width: 30%;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	color: #000000;
	background-color: #FFFFFF;
	border-style: none;
	cursor: pointer;
	padding: 0%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 35%;
	margin-right: 35%;
	border-radius: 20px;
}

.bouton_commande1{
	float: left;
	width: 30%;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	color: #000000;
	background-color: #FFFFFF;
	border-style: none;
	cursor: pointer;
	padding: 0%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 20px;
}

.bouton_commande2{
	float: right;
	width: 30%;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	color: #000000;
	background-color: #FFFFFF;
	border-style: none;
	cursor: pointer;
	padding: 0%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 20px;
}

/*Les inputs spéciaux*/

/* necessary to give position: relative to parent. */
#prénom{
	border-color: #999999;
}

#email{
	border-color: #999999;
}

#message{
	border-color: #999999;
}

.effect-20[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #FFFFFF; width: 100%; height: 40px; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.col-3{float: left; width: 80%; margin-top: 0%; margin-bottom: 5%; margin-left: 10%; margin-right: 10%; padding: 0%; position: relative;} /* necessary to give position: relative to parent. */
.effect-20[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #FFFFFF; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-20{border: 1px solid #ccc; padding: 7px 14px; transition: 0.4s; background: transparent;}

.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 5px; background-color: #da7426; transition: 0.3s;}
.effect-20 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 5px; height: 0; background-color: #da7426; transition: 0.4s;}
.effect-20 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.has-content.effect-20 ~ .focus-border:before,
.has-content.effect-20 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.has-content.effect-20 ~ .focus-border i:before,
.has-content.effect-20 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.effect-20 ~ label{position: absolute; left: 14px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-20:focus ~ label, .has-content.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #da7426; transition: 0.3s;}

#prénom::placeholder{
	color: #999999;
	padding-right: 0%;
	padding-left: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	margin: 0px;
}

#email::placeholder{
	color: #999999;
	padding-right: 0%;
	padding-left: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	margin: 0px;
}

#message::placeholder{
	color: #999999;
	padding-right: 0%;
	padding-left: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	margin: 0px;
}

/*Toute les pages*/

.logo_aistudio{
	border-radius: 50px;
}

.couleur{
	color: #da7426;
}

/*Première page de base*/

.index_body{
	background-color : #000000;
	margin : 0px;
	padding : 0px;
}

.création_body{
	background-color : #000000;
	margin : 0px;
	padding : 0px;
}

.commande_body{
	background-color : #000000;
	margin : 0px;
	padding : 0px;
}

.all_création{
	background-color : #111111;
	text-align: center;
	width: 86%;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-left: 7%;
	margin-right: 7%;
	padding-top: 0%;
	padding-bottom: 25px;
	padding-left: 0%;
	padding-right: 0%;
}

#myFrame2{
	position:relative;
	top:0;
	left:0;
	width: 420px;
	height: 236.25px;
	padding: 1%;
	border-radius: 25px;
}

.titre_création{
	width: 100%;
	margin: 0%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 0%;
	padding-right: 0%;
	color : #FFFFFF;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

.bandeau_réseaux{
	width: 100%;
	margin: 0%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
	color : #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
}

.image_réseaux_création{
	width: 75px;
	padding: 0%;
	margin-top: 1%;
	margin-bottom: 0%;
	margin-left: 1%;
	margin-right: 1%;
	cursor: pointer;
}

.image_réseaux_création1{
	width: 75px;
	padding: 0%;
	margin-top: 1%;
	margin-bottom: 0%;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 100px;
	cursor: pointer;
}

.image_réseaux_création2{
	width: 75px;
	position: relative;
	bottom: 10px;
	padding: 0%;
	margin-top: 1%;
	margin-bottom: 0%;
	margin-left: 1%;
	margin-right: 1%;
	cursor: pointer;
}

.bouton_création5{
	width: 80%;
	display: flex;
	padding: 0%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.bouton_création1{
	width: 50%;
	float: left;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
}

.bouton_création2{
	width: 50%;
	float: right;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
}

.bouton_création3{
	width: 80%;
	padding: 10px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	color : #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
}

.bouton_création4{
	width: 80%;
	padding: 10px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	color : #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
}

.bouton_création3:hover{
	color: #FFFFFF;
	background-color: #da7426;
	transform: translateY(-7px);
	transition-duration: 0.5s;
	transition-property: color background-color transform;
}

.bouton_création4:hover{
	color: #FFFFFF;
	background-color: #da7426;
	transform: translateY(-7px);
	transition-duration: 0.5s;
	transition-property: color background-color transform;
}

.création_body .texte_bas{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;
	border-style : solid;
	border-top-width : 1px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-top-color : #999999;
}

.commande_body .texte_bas{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;
	border-style : solid;
	border-top-width : 1px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-top-color : #999999;
}

.formule1{
	width: 86%;
	background-color: #111111;
	text-align : center;
	color : #FFFFFF;
	padding: 0px;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-right: 7%;
	margin-left: 7%;
	border-style: none;
	border-radius: 25px;
}

.formule2{
	width: 86%;
	background-color: #111111;
	text-align : center;
	color : #FFFFFF;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-top: 0px;
	padding-right: 0px;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-right: 7%;
	margin-left: 7%;
	border-style: none;
	border-radius: 25px;
}

.formule3{
	width: 86%;
	background-color: #111111;
	text-align : center;
	color : #FFFFFF;
	padding: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 7%;
	margin-left: 7%;
	border-style: none;
	border-radius: 25px;
}

.grand_titre1{
	color : #FFFFFF;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 5%;
	padding-left: 5%;
	margin: 0px;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

.grand_titre2{
	color : #FFFFFF;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 5%;
	padding-left: 5%;
	margin: 0px;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

.grand_titre3{
	color : #FFFFFF;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 5%;
	padding-left: 5%;
	margin: 0px;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

.petit_titre1{
	color : #999999;
	text-align: justify;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding-top: 0%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 3%;
	margin: 0%;
}

.petit_titre2{
	color : #999999;
	text-align: justify;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	width: 95%;
	padding-top: 0%;
	padding-right: 0%;
	padding-left: 5%;
	padding-bottom: 3%;
	margin: 0%;
}

#myFrame{
	position:relative;
	top:0;
	left:0;
	width: 640px;
	height: 360px;
	padding: 1%;
	border-radius: 25px;
}

#myFrame1{
	position:relative;
	top:0;
	left:0;
	width: 640px;
	height: 360px;
	padding: 1%;
	border-radius: 40px;
	border-radius: 25px;
}

#myFrame3{
	float: right;
	position: relative;
	top:0;
	left:0;
	margin: 1%;
	margin-right: 75px;
	width: 590px;
	height: 332px;
	border-radius: 25px;
}

#myFrame4{
	float: left;
	position: relative;
	top:0;
	left:0;
	margin: 1%;
	margin-left: 75px;
	width: 590px;
	height: 332px;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-align: justify;
}

.texte_myFrame4{
	padding: 0%;
	margin: 0%;
	}

.bouton_création{
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 40%;
	height: 50px;
	padding: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 30%;
	margin-left: 30%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
}

.bouton_création:hover{
	color: #FFFFFF;
	background-color: #da7426;
	transform: translateY(-7px);
	transition-duration: 0.5s;
	transition-property: color background-color transform;
}

.bouton_création6{
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 40%;
	height: 50px;
	padding: 0px;
	margin-top: 425px;
	margin-bottom: 3%;
	margin-right: 30%;
	margin-left: 30%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
}

.bouton_création6:hover{
	color: #FFFFFF;
	background-color: #da7426;
	transform: translateY(-7px);
	transition-duration: 0.5s;
	transition-property: color background-color transform;
}

.gif1{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
}

.gif2{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
}

.coté_gauche{
	width: 45%;
	float: left;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 5%;
}

.coté_droit{
	width: 40%;
	float: right;
	text-align: center;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 5%;
	margin-left: 5%;
}

.coté{
	width: 100%;
	display: flex;
	padding: 0%;
	margin-bottom: 25px;
}

/*Chemin d'une commande*/

.chemin{
	width: 90%;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 5%;
	margin-left: 5%;
}

.chemin1{
	width: 100%;
	text-align: center;
	display: flex;
	margin: 0%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}

.chemin1_gauche{
	width: 50%;
	float: left;
	padding: 0%;
	margin: 0%;
}

.chemin1_droite{
	width: 50%;
	float: right;
	padding: 0%;
	margin: 0%;
}

.chemin2{
	width: 100%;
	text-align: center;
	display: flex;
	margin: 0%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}

.chemin2_gauche{
	width: 50%;
	float: left;
	padding: 0%;
	margin: 0%;
}

.chemin2_droite{
	width: 50%;
	float: right;
	padding: 0%;
	margin: 0%;
}

.chemin3{
	width: 100%;
	text-align: center;
	display: flex;
	margin: 0%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}

.chemin3_gauche{
	width: 50%;
	float: left;
	padding: 0%;
	margin: 0%;
}

.chemin3_droite{
	width: 50%;
	float: right;
	padding: 0%;
	margin: 0%;
}

.chemin4{
	width: 100%;
	text-align: center;
	display: flex;
	margin: 0%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 0%;
	padding-right: 0%;
}

.chemin4_gauche{
	width: 50%;
	float: left;
	padding: 0%;
	margin: 0%;
}

.chemin4_droite{
	width: 50%;
	float: right;
	padding: 0%;
	margin: 0%;
}

.titre_chemin_droite{
	color : #da7426;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 5%;
	margin-right: 25%;
}

.titre_chemin_gauche{
	color : #da7426;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 25%;
	margin-right: 5%;
}

.paragraphe_chemin_droite{
	color : #FFFFFF;
	text-align: justify;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 25%;
}

.paragraphe_chemin_gauche{
	color : #FFFFFF;
	text-align: justify;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 5%;
}

.chemim_gif{
	width: 60%;
	border-radius: 25px;
}

/*Partie 2 première page*/

.grosse_division2{
	width: 100%;
	display: flex;
}

.biographie{
	width: 56%;
	background-color: #111111;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 100px;
	margin-right: 2%;
	margin-left: 7%;
	z-index: -1;
	border-radius: 25px;
}

.grosse_division3{
	width: 26%;
	float: right;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 100px;
	margin-right: 7%;
	margin-left: 2%;
}

.réseaux{
	background-color: #111111;
	width: 100%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 25px;
}

.question{
	background-color: #111111;
	width: 100%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 25px;
}

.image_réseaux{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	padding: 0px;
	position: relative;
	top: 20px; 
	margin-right: 10%;
}

.image_réseaux1{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	padding: 0px;
	position: relative;
	top: 20px; 
	margin-right: 10%;
}

.image_réseaux2{
	width: 50px;
	height: 38px;
	padding: 0px;
	position: relative;
	top: 12px; 
	margin-right: 10%;
}

.titre_all_réseaux{
	color: #FFFFFF;
	font-size: 33px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0px;
	font-weight: 500;
	text-decoration: none;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

.titre_all_réseaux1{
	color: #FFFFFF;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0px;
	font-weight: 500;
	text-decoration: none;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
}

.lien_all_réseaux{
	color: #999999;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 0%;
	padding-bottom: 2%;
	padding-right: 0%;
	padding-left: 0%;
	display: block;
	text-decoration: none;
	transition-duration: 0.5s;
	transition-property: color;
	font-weight: 500;
}

.lien_all_réseaux1{
	color: #999999;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 0%;
	padding-bottom: 4%;
	padding-right: 0%;
	padding-left: 0%;
	display: block;
	text-decoration: none;
	transition-duration: 0.5s;
	transition-property: color;
	font-weight: 500;
}

.lien_all_réseaux:hover{
	color : #da7426;
	transition-duration: 0.5s;
	transition-property: color;
}

.lien_all_réseaux1:hover{
	color : #da7426;
	transition-duration: 0.5s;
	transition-property: color;
}

#bouton{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 80%;
	height: 40px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 25px;
	margin-right: 10%;
	margin-left: 10%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
}

#bouton:hover{
	color: #FFFFFF;
	background-color: #da7426;
	transform: translateY(-7px);
	transition-duration: 0.5s;
	transition-property: color background-color transform;
}

.gros_logo{
	width: 100%;
	padding: 0px;
	margin: 0%;
	transition-duration: 0.5s;
	transition-property: border-color;
	cursor: default;
}

.block_gros_logo {
	position: relative;
	border-style: solid;
	border-width: 1%;
	border-color: #999999;
	padding: 0px;
	margin-top: 5%;
	margin-bottom: 0%;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	background: linear-gradient(0deg, #000, #272727);
}

.block_gros_logo:before, .block_gros_logo:after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	background: linear-gradient(45deg, #da7426, #da7426, #0095e9,#0095e9, #da7426, #da7426, #0095e9, #0095e9);
	background-size: 400%;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block_gros_logo:after {
	filter: blur(30px);
}

.texte_biographie{
	color: #FFFFFF;
	text-align: justify;
	font-size: 23px;
	font-family: "Source Sans Pro", sans-serif;
	padding: 0px;
	margin-top: 0%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
}

/*Barre du bas*/

.barre_du_bas{
	width : 100%;
	margin : 0px;
	padding : 0px;
	border-style : solid;
	border-top-width : 1px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-top-color : #999999;
}

.barre_du_bas2{
	width : 100%;
	margin : 0px;
	padding : 0px;
}

.barre_du_bas3{
	width : 100%;
	margin : 0px;
	padding : 0px;
}

.texte_bas{
	color : #999999;
	text-align: center;
	display: block;
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.AiStudio{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	transition-duration: 0.5s;
	transition-property: color;
}

.AiStudio:hover{
	color: #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
}

.Pierrooo{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	transition-duration: 0.5s;
	transition-property: color;
}

.Pierrooo:hover{
	color: #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
}

/*Barre du haut*/

nav{
    width: 100%;
    margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-left: 0px;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	font-family: "Source Sans Pro", sans-serif;
	border-style: solid;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	background-color: #000000;
}

nav ul{
    list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.deroulant{
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

.sous{
    display: none;
    background-color: #111111;
    position: fixed;
	top: 100;
	right: 0;
    width: 30%;
    z-index: 1000;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	border-color: #999999;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
	margin: 20px;
}

.AiStudio2{
	color: #FFFFFF;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 40px;
	font-weight: 500;
	text-decoration : none;
	padding : 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align : left;
	transition-duration: 0.5s;
	transition-property: color;
}

.AiStudio2:hover{
	color: #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
}

.AiStudio1{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
}

.AiStudio1:hover{
	color : #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
}

.AiStudio4{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
	cursor: default;
}

.AiStudio5{
	color: #FFFFFF;
	text-decoration : none;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
	cursor: pointer;
}

.AiStudio5:hover{
	color: #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
}

.pasderoulant{
	float: left;
    width: 30%;
    text-align: center;
    position: relative;
	padding: 0px;
	margin: 0px;
}

.pasderoulant2{
	float: left;
    width: 40%;
    text-align: center;
    position: relative;
	margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.drapeau{
	width: 32px;
	height: 18px;
}

/*Adaptation de la page*/

@media (max-width: 1800px) {
	#bouton{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 80%;
	height: 40px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 25px;
	margin-right: 10%;
	margin-left: 10%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
}

@media (max-width: 1600px) {
	#myFrame{
	position:relative;
	top:0;
	left:0;
	width: 426px;
	height: 240px;
	padding: 1%;
	border-radius: 25px;
	}
	
	#myFrame1{
	position:relative;
	top:0;
	left:0;
	width: 426px;
	height: 240px;
	padding: 1%;
	border-radius: 25px;
	}
	
	.bouton_création{
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 40%;
	height: 50px;
	padding: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 30%;
	margin-left: 30%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	#myFrame3{
	float: right;
	position: relative;
	top:0;
	left:0;
	margin: 1%;
	width: 590px;
	height: 332px;
	border-radius: 25px;
	}

	#myFrame4{
	float: left;
	position: relative;
	top:0;
	left:0;
	margin: 1%;
	width: 590px;
	height: 332px;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-align: justify;
	}
}

@media (max-width: 1450px) {
	.grosse_division2{
	width: 100%;
	display: block;
	padding: 0px;
	margin: 0px;
	}

	.biographie{
	width: 80%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-right: 10%;
	margin-left: 10%;
	z-index: -1;
	}

	.grosse_division3{
	display: block;
	width: 100%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: 0%;
	margin-left: 0%;
	border-style : solid;
	border-top-width : 0px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-bottom-color : #999999;
	}

	.réseaux{
	width: 80%;
	padding: 0px;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-right: 10%;
	margin-left: 10%;
	}

	.question{
	width: 80%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 100px;
	margin-right: 10%;
	margin-left: 10%;
	}
	
	.barre_du_bas{
	width : 100%;
	margin : 0px;
	padding : 0px;
	border-style : none;
	border-width : 0px;
	}
	
	.formule1{
	width: 80%;
	background-color: #111111;
	text-align : center;
	color : #FFFFFF;
	padding: 0px;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-right: 10%;
	margin-left: 10%;
	border-style: none;
	}

	.formule2{
	width: 80%;
	background-color: #111111;
	text-align : center;
	color : #FFFFFF;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-top: 0px;
	padding-right: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 10%;
	margin-left: 10%;
	border-style: none;
	}

	.formule3{
	width: 80%;
	display: block;
	background-color: #111111;
	text-align : center;
	color : #FFFFFF;
	padding: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 10%;
	margin-left: 10%;
	border-style: none;
	justify-content: center;
	align-items: center;
	}
	
	.bouton_création{
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 56%;
	height: 50px;
	padding: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 22%;
	margin-left: 22%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
.gros_logo{
	width: 100%;
	padding: 0px;
	margin: 0%;
	transition-duration: 0.5s;
	transition-property: border-color;
	cursor: default;
	z-index: 2;
	position: relative;
	border-style: solid;
	border-width: 1%;
	border-color: #999999;
}

.block_gros_logo{
	border-style: none;
	border-width: 0%;
	position: relative;
	padding: 0px;
	margin-top: 5%;
	margin-bottom: 0%;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	background: linear-gradient(0deg, #000, #272727);
}

.block_gros_logo:before, .block_gros_logo:after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	background: linear-gradient(45deg, #da7426, #da7426, #0095e9,#0095e9, #da7426, #da7426, #0095e9, #0095e9);
	background-size: 400%;
	width: 100%;
	height: 95%;
	z-index: 0;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block_gros_logo:after {
	filter: blur(30px);
}
	
	.paragraphe_chemin{
	color : #FFFFFF;
	text-align: justify;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	}
	
	.titre_chemin_droite{
	color : #da7426;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	}

	.titre_chemin_gauche{
	color : #da7426;
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	}

	.paragraphe_chemin_droite{
	color : #FFFFFF;
	text-align: justify;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.paragraphe_chemin_gauche{
	color : #FFFFFF;
	text-align: justify;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.chemim_gif{
	width: 80%;
	border-radius: 25px;
	}
	
	.titre_all_réseaux{
	color: #FFFFFF;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0px;
	font-weight: 500;
	text-decoration: none;
	}
	
	#bouton{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 60%;
	height: 40px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 25px;
	margin-right: 20%;
	margin-left: 20%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	.bouton_création3{
	width: 90%;
	padding: 10px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	color : #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	}

	.bouton_création4{
	width: 90%;
	padding: 10px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	color : #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	}
	
	#myFrame3{
	display: inline-block;
	float: none;
	margin: 1%;
	width: 590px;
	height: 332px;
	border-radius: 25px;
	}

	#myFrame4{
	display: inline-block;
	float: none;
	margin: 1%;
	width: 590px;
	height: 332px;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-align: justify;
	}
	
	.bouton_création6{
	text-align: center;
	font-size: 38px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 56%;
	height: 50px;
	padding: 0px;
	margin-top: 50px;
	margin-bottom: 3%;
	margin-right: 22%;
	margin-left: 22%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
}

@media (max-width: 1150px) {
	#myFrame{
	position:relative;
	top:0;
	left:0;
	width: 640px;
	height: 360px;
	padding: 1%;
	border-radius: 25px;
	}
	
	#myFrame1{
	position:relative;
	top:0;
	left:0;
	width: 640px;
	height: 360px;
	padding: 1%;
	border-radius: 25px;
	}
	
	.paragraphe_chemin{
	color : #FFFFFF;
	text-align: justify;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.bouton_création{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 66%;
	height: 40px;
	padding: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 17%;
	margin-left: 17%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	.bouton_création6{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 66%;
	height: 40px;
	padding: 0px;
	margin-top: 50px;
	margin-bottom: 3%;
	margin-right: 17%;
	margin-left: 17%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
}

@media (max-width: 1037px) {
	.bouton_création5{
	width: 80%;
	display: block;
	padding: 0%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
	}

	.bouton_création1{
	width: 100%;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 50px;
	margin-left: 0%;
	margin-right: 0%;
	}

	.bouton_création2{
	width: 100%;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.bouton_création3{
	width: 100%;
	padding: 10px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	color : #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	}

	.bouton_création4{
	width: 100%;
	padding: 10px;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	color : #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	border-radius: 25px;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	}
	
	.all_création{
	background-color : #111111;
	text-align: center;
	width: 86%;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-left: 7%;
	margin-right: 7%;
	padding-top: 0%;
	padding-bottom: 200px;
	padding-left: 0%;
	padding-right: 0%;
	}
}

@media (max-width: 900px) {
	nav{
    width: 100%;
    margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-left: 0px;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	font-family: "Source Sans Pro", sans-serif;
	border-style : solid;
	border-top-width : 0px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-bottom-color : #999999;
}

	nav ul{
    list-style-type: none;
	padding: 0px;
	margin: 0px;
	}

	.deroulant{
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	}

	nav ul::after{
    content: "";
    display: table;
    clear: both;
	}

	.sous{
    display: none;
	text-align: left;
    background-color: #111111;
    position: fixed;
	top: 100;
	right: 0;
    width: 30%;
    z-index: 1000;
	}

	nav > ul li:hover .sous{
    display: block;
	}

	.sous li{
    float: none;
    width: 100%;
    text-align: left;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
	}

	.AiStudio2{
	color : #FFFFFF;
	font-size: 40px;
	font-weight: 500;
	text-decoration : none;
	padding : 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align : left;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio2:hover{
	color : #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio1{
	color : #FFFFFF;
	text-decoration : none;
	text-align: left;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio1:hover{
	color : #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio4{
	color : #FFFFFF;
	text-decoration : none;
	text-align: left;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
	cursor: default;
	}

	.pasderoulant{
	float: left;
    width: 30%;
    text-align: center;
    position: relative;
	padding: 0px;
	margin: 0px;
	}
	
	.pasderoulant2{
	float: left;
    width: 40%;
    text-align: center;
    position: relative;
	margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
	}

	.drapeau{
	width: 32px;
	height: 18px;
	text-align: left;
	}
	
	#myFrame{
	position:relative;
	top:0;
	left:0;
	width: 426px;
	height: 240px;
	padding: 1%;
	border-radius: 25px;
	}
	
	#myFrame1{
	position:relative;
	top:0;
	left:0;
	width: 426px;
	height: 240px;
	padding: 1%;
	border-radius: 25px;
	}
	
	.titre_chemin_droite{
	color : #da7426;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.titre_chemin_gauche{
	color : #da7426;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-decoration: none;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	}

	.paragraphe_chemin_droite{
	color : #FFFFFF;
	text-align: justify;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.paragraphe_chemin_gauche{
	color : #FFFFFF;
	text-align: justify;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 0%;
	margin-right: 0%;
	}
	
	.texte_biographie{
	color: #FFFFFF;
	text-align: justify;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	padding: 0px;
	margin-top: 0%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	}
	
	.titre_all_réseaux1{
	color: #FFFFFF;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0px;
	font-weight: 500;
	text-decoration: none;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
	}
	
	.titre_all_réseaux{
	color: #FFFFFF;
	font-size: 33px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0px;
	font-weight: 500;
	text-decoration: none;
	text-shadow:
                0 0 10px rgb(218, 116, 38),
				0 0 20px rgb(218, 116, 38),
				0 0 30px rgb(218, 116, 38),
				0 0 40px rgb(218, 116, 38),
				0 0 50px rgb(218, 116, 38);
            animation: lumiere 1s infinite linear;
	}
	
	.bouton_création{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 90%;
	height: 40px;
	padding: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 5%;
	margin-left: 5%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	.bouton_création6{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 90%;
	height: 40px;
	padding: 0px;
	margin-top: 50px;
	margin-bottom: 3%;
	margin-right: 5%;
	margin-left: 5%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	#myFrame3{
	display: inline-block;
	float: none;
	margin: 1%;
	width: 450px;
	height: 253px;
	border-radius: 25px;
	}

	#myFrame4{
	display: inline-block;
	float: none;
	margin: 1%;
	width: 450px;
	height: 253px;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-align: justify;
	}
}

@media (max-width: 600px) {
	nav{
    width: 100%;
    margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-left: 0px;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	font-family: "Source Sans Pro", sans-serif;
	border-style : solid;
	border-top-width : 0px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-bottom-color : #999999;
}

	nav ul{
    list-style-type: none;
	padding: 0px;
	margin: 0px;
	}

	.deroulant{
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	}

	nav ul::after{
    content: "";
    display: table;
    clear: both;
	}

	.sous{
    display: none;
	text-align: left;
    background-color: #111111;
    position: absolute;
    position: fixed;
	top: 100;
	right: 0;
    width: 30%;
    z-index: 1000;
	}

	nav > ul li:hover .sous{
    display: block;
	}

	.sous li{
    float: none;
    width: 100%;
    text-align: left;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
	}

	.AiStudio2{
	color : #FFFFFF;
	font-size: 40px;
	font-weight: 500;
	text-decoration : none;
	padding : 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align : left;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio2:hover{
	color : #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio1{
	color : #FFFFFF;
	text-decoration : none;
	text-align: left;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio1:hover{
	color : #0095e9;
	transition-duration: 0.5s;
	transition-property: color;
	}

	.AiStudio4{
	color : #FFFFFF;
	text-decoration : none;
	text-align: left;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	transition-duration: 0.5s;
	transition-property: color;
	cursor: default;
	}

	.pasderoulant{
	float: left;
    width: 30%;
    text-align: center;
    position: relative;
	padding: 0px;
	margin: 0px;
	}
	
	.pasderoulant2{
	float: left;
    width: 40%;
    text-align: center;
    position: relative;
	margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
	}

	.drapeau{
	width: 32px;
	height: 18px;
	text-align: left;
	margin-right: 10px;
	}
	
	#myFrame{
	position:relative;
	top:0;
	left:0;
	width: 356px;
	height: 200px;
	padding: 1%;
	border-radius: 20px;
	}
	
	#myFrame1{
	position:relative;
	top:0;
	left:0;
	width: 356px;
	height: 200px;
	padding: 1%;
	border-radius: 20px;
	}
	
	#bouton{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 80%;
	height: 40px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 25px;
	margin-right: 10%;
	margin-left: 10%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	.bouton_création{
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	width: 90%;
	height: 40px;
	padding: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 5%;
	margin-left: 5%;
	transition-duration: 0.5s;
	transition-property: color background-color transform;
	cursor: pointer;
	border-radius: 20px;
	}
	
	#myFrame3{
	display: inline-block;
	float: none;
	margin: 1%;
	width: 350px;
	height: 197px;
	border-radius: 25px;
	}

	#myFrame4{
	display: inline-block;
	float: none;
	margin: 1%;
	width: 350px;
	height: 197px;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 500;
	text-align: justify;
	}
}